 @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
    body, html {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-color: black;
      font-family: 'Plus Jakarta Sans', sans-serif;
    }

    .preloadbackground {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      z-index: 0;
    }

    .blob {
      position: absolute;
      width: 20%;
      height: 20%;
      background: radial-gradient(circle, #F40B0C, #F28708, #f7c725);
      border-radius: 50%;
      filter: blur(150px);
    }

    .blob.left {
      left: 5%;
      top: 50%;
      transform: translateY(-50%);
    }

    .blob.right {
      right: 5%;
      top: 50%;
      transform: translateY(-50%);
    }

    #preloader {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 2;
    }

    #progressBar {
      position: fixed;
      top: 0;
      left: 0;
      width: 0;
      height: 5px;
      background: linear-gradient(45deg, #F40B0C, #F28708);
      z-index: 10;
      transition: width 0.1s linear; 
    }

    #preloaderVideo {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0%);
      max-width: 60%;
      max-height: 60%;
      opacity: 0;
    }

    #preloaderText {
      position: absolute;
      bottom: 15%;
      text-align: center;
      font-size: 2.5vw;
      font-weight: 600;
      color: #fff;
      opacity: 0;
      overflow: hidden;
    }

    #preloaderText span {
      display: inline-block;
      opacity: 0;
      transform: translateY(100%);
    }
